In [3]:
import pandas as pd
df=pd.read_csv("C:/Users/91861/Documents/marks1.csv")
print(df)

        Name  Marks
0      Madhu    NaN
1    Kishore   15.0
2    Diwakar   40.0
3  Yashvanth   99.0
4    Avinash   66.0
5   Shreyank   44.0
6        sai   40.0
7   Material  100.0

In [5]:
print(df.info)

<bound method DataFrame.info of         Name  Marks
0      Madhu    NaN
1    Kishore   15.0
2    Diwakar   40.0
3  Yashvanth   99.0
4    Avinash   66.0
5   Shreyank   44.0
6        sai   40.0
7   Material  100.0>

In [7]:
print("Average or Mean of Marks column:",df['Marks'].mean())

Average or Mean of Marks column: 57.714285714285715

In [9]:
replacing_mean=df['Marks'].fillna(df['Marks'].mean())
print(replacing_mean)

0     57.714286
1     15.000000
2     40.000000
3     99.000000
4     66.000000
5     44.000000
6     40.000000
7    100.000000
Name: Marks, dtype: float64

In [19]:
replacing_mode=df['Marks'].fillna(df['Marks'].mode())
print(replacing_mode)
#print(df['Marks'].mode())

0     40.0
1     15.0
2     40.0
3     99.0
4     66.0
5     44.0
6     40.0
7    100.0
Name: Marks, dtype: float64

In [27]:
#print(df['Marks'].median())
median=df['Marks'].median()
replacing_median=df['Marks'].fillna(median)
print(replacing_median)

0     44.0
1     15.0
2     40.0
3     99.0
4     66.0
5     44.0
6     40.0
7    100.0
Name: Marks, dtype: float64